.skills {
    padding: var(--section-space);
}

.skills_list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    gap: 100px;
}

.skill__part {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 700px;
    flex-wrap: wrap;
    gap: 40px;
}

.skill__name {
    margin-bottom: 8px;
}

.skill__bagde {
    padding: 3px 8px;
    background-color: var(--secondary);
    color: var(--primary);
    border-radius: 10px;
    font-size: 0.7rem;
}

.bar__item {
    height: 9px;
    width: 180px;
    background-color: var(--secondary);
    display: flex;
    align-items: center;
    padding: 4px;
    border-radius: 15px;
}

.bar__complete {
    height: 7px;
    background-color: var(--primary);
    border-radius: 15px;
}